# Definir arquivos de texto para usar LF
* text=auto

# Manter arquivos específicos com CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Manter arquivos específicos com LF
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf
